body{
		font-family: Helvetica;
		color: white;
		background: url(Italian3.jpg)no-repeat;
		background-size:cover;
	}
	.box{ width: 600px;
	float:right;
	border: 1px solid none;
	}
	.box ul li{
		width:120px;
		float: left;
		margin: 10px auto;
		text-align: center;
	}
	.box ul li a{
	text-decoration: none;
	color: gray;
	}
	
	.box ul li:hover{
	background-color: black;
	}
	.box ul li a:hover{
	color:white;
	}
	.icon{
	position: absolute;
	left: 100%
	top: -5%;
	display: inline-block;
	}